<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Course</title>
    <link rel="stylesheet" href="style.css" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="./functions.js"></script>
    <script src="./Calls/Usercall.js"></script>
    <script src="./Calls/LabCall.js"></script>
    <script src="./Calls/ReservationCall.js"></script>
    <script src="./GestionApplication.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous" />
  </head>
  <body class="text-bg-dark p-3">
    
    <!--Login-->
    <div id="login-page">
      <div class="topCenter">
        <h1>Login</h1>
      </div>
      <div class="center d-grid gap-2 col-6 mx-auto">
        <input type="text" id="login-email" placeholder="Email" />
        <input type="password" id="login-password" placeholder="Password" />
        <button class="text-bg-info" onclick="login()">Login</button>
        <p>
          you have not account? <a href="javascript:void(0);" onclick="switchToRegistration()">Registrati qui</a>
        </p>
        <p id="errorLogin"></p>
      </div>
    </div>

    <!--Registration-->
    <div id="registration-page" style="display: none;">
      <div class="topCenter">
        <h1>Registration</h1>
      </div>
      <div class="center d-grid gap-2 col-6 mx-auto">
        <input type="text" id="register-email" placeholder="Email" />
        <input type="text" id="register-name" placeholder="Name" />
        <input type="password" id="register-password" placeholder="Password" />
        <button class="text-bg-info" onclick="register()">Register</button>
        <a href="javascript:void(0);" onclick="switchToLogin()">go back</a>
        <p id="errorRegistration"></p>
      </div>
    </div>

    <!--Application Page-->
    <div id="application-page" style="display: none">
      <nav>
        <ul class="nav nav-tabs">
            <li class="nav-item nav-link" id="adminNavItem" style="display: none;">Admin</li>
            <li class="nav-item nav-link" id="labNavItem" style="display: none;">Lab Manager</li>
            <li class="nav-item nav-link" id="userNavItem" style="display: none;">Reserve</li>
            <li class="nav-item nav-link Lessrigth" id="profileNavItem" style="display: block;">Hi, </li>
            <li class="nav-item nav-link rigth" id="logout" style="display: block;">Logout</li>
        </ul>
      </nav>
      <div class="center" id="content"></div>

      <!--Modify Modal-->
      <div  id="myModal">
        <div id="modalContent">
            <span class="close" onclick="closeModal()">&times;</span>
            <form id="myForm" onsubmit="submitForm(event)">
              <table>
                <tr>
                  <td><label class="text-black" for="name">Name:</label></td>
                  <td><input type="text" id="name" name="name"><br></td>
                </tr>
                <tr>
                  <td><label class="text-black" for="email">Email:</label></td>
                  <td><input type="text" id="email" name="email" readonly><br></td>
                </tr>
                <tr>
                  <td><label class="text-black" for="role">Role:</label></td>
                  <td> <input type="text" id="role" name="role"><br></td>
                </tr>
              </table>
                <button class="r" style="background-image: url(./img/check.png); background-size: cover; width: 25px; height: 25px;" onclick="Modify()"></button>
            </form>
        </div>
    </div>

    <!--Add Modal-->
    <div id="myModalAdd">
      <div id="modalContent">
          <span class="close" onclick="closeModal()">&times;</span>
          <form id="myForm" onsubmit="submitForm(event)">
              <table>
                <tr>
                  <td><label class="text-black" for="name">Name:</label></td>
                  <td><input type="text" id="nameAdd" name="name"><br></td>
                </tr>
                <tr>
                  <td><label class="text-black" for="email">Email:</label></td>
                  <td><input type="text" id="emailAdd" name="email"><br></td>
                </tr>
                <tr>
                  <td><label class="text-black" for="role">Password:</label></td>
                  <td><input type="password" id="passwordAdd" name="password"><br></td>
                </tr>
              </table>
              <button class="r" style="background-image: url(./img/check.png); background-size: cover; width: 25px; height: 25px;" onclick="Add()"></button>
          </form>
      </div>
  </div>

  <!--Program Add Pc-->
  <div id="myModalAddProgram">
    <div id="modalContent">
        <span class="close" onclick="closeModal()">&times;</span>
        <form id="myForm" onsubmit="submitForm(event)">
          <table>
            <tr>
              <td><label class="text-black" for="namePc">Name:</label></td>
              <td><input type="text" id="namePc" name="namePc"><br></td>
            </tr>
            <tr>
              <td><label class="text-black" for="IdPc">Id:</label></td>
              <td><input type="text" id="IdPc" name="IdPc" readonly><br></td>
            </tr>
            <tr>
              <td><label class="text-black" for="status">Status:</label></td>
              <td><input type="text" id="status" name="status"><br></td>
            </tr>
            <tr>
              <td><label class="text-black" for="programs">Progrms:</label></td>
              <td><input type="text" id="programs" name="programs"><br></td>
            </tr>
          </table>
            <button class="r" style="background-image: url(./img/check.png); background-size: cover; width: 25px; height: 25px;" onclick="ModifyPc()"></button>
        </form>
    </div>
</div>

<!--Calendar-->
<div id="calendar">
  <div id="modalContent">
      <span class="close" onclick="closeModal()">&times;</span>
      <form id="myForm" onsubmit="submitForm(event)">
        <div  id="calendario">
          <select id="giorno"></select>
          <select id="mese"></select>
          <select id="anno"></select>
          <button style="background-image: url(./img/check.png); background-size: cover; width: 25px; height: 25px;" onclick="selezionaData()"></button>
        </div>
      </form>
    </div>
</div>
 
      <script>
        document.querySelector("nav ul").addEventListener("click", gestisciClic);
      </script>

    </div>
  </body>
</html>
